<div *ngIf="url ==='pilots'">
        <h1>Listes des pilotes</h1>
        <div class="container">
            <div *ngFor="let pilot of objectList.pilots">
                <app-card [pilot]="pilot"></app-card>
            </div>
        </div>
</div>


<div *ngIf="url ==='teams'">
    <h1>Listes des teams</h1>
    <div class="container">
        <div *ngFor="let team of objectList.teams">
            <app-card [team]="team"></app-card>
        </div>
    </div>
</div>

<div *ngIf="url ==='cars'">
    <h1>Listes des voitures</h1>
    <div class="container">
        <div *ngFor="let car of objectList.cars">
            <app-card [car]="car"></app-card>
        </div>
    </div>
</div>