img{
    width: 300px;
}

.card{
    background-color: #355789;
    box-shadow: 10px 10px 0px #355789;
}

p{
    text-align: center;
    margin-bottom: 1em;
}

.card:hover{
    transform: scale(1.2);
}
