<div>

    <div *ngIf="url ==='cars'">
        <img *ngIf="isAdmin" class="logo-delete-button" (click)="delete()" src="https://cdn-icons-png.flaticon.com/512/5974/5974771.png" alt="delete button">
        <a [routerLink]="['/updateCar', car.id]">
            <img *ngIf="isAdmin" class="logo-update-button" src="https://cdn-icons-png.flaticon.com/512/5973/5973787.png" alt="update button">
        </a>
        <div [routerLink]="['/car-detail',car.id ]" class="card">
            <img [src]="car.carPhotoList[0].urlPhoto" onError="this.src ='assets/404.jpg'" alt="car">
          
            <div class="card-text">
                <p> {{car.modelName}}</p>
                <p> {{car.team?.name}}</p>
            </div>

        </div>
    </div>

    <div *ngIf="url ==='pilots'">
        <img *ngIf="isAdmin" class="logo-delete-button" (click)="delete()" src="https://cdn-icons-png.flaticon.com/512/5974/5974771.png" alt="delete button">
        <a [routerLink]="['/updatePilot', pilot.id]">
            <img *ngIf="isAdmin" class="logo-update-button" src="https://cdn-icons-png.flaticon.com/512/5973/5973787.png" alt="update button">
        </a>
        <div class="card" [routerLink]="['/pilot-detail', pilot.id]">
            <img [src]="pilot.photoList[0].urlPhoto" onError="this.src ='assets/404.jpg'" alt="image pilot">

            <div class="card-text">
                <p> {{pilot.firstName}} {{pilot.lastName}}</p>

                <p> {{pilot.team?.name}}</p>
            </div>
        </div>
    </div>

    <div *ngIf="url ==='teams'">
        <img *ngIf="isAdmin" class="logo-delete-button" (click)="delete()" src="https://cdn-icons-png.flaticon.com/512/5974/5974771.png" alt="delete button">
        <a [routerLink]="['/updateTeam', team.id]">
            <img *ngIf="isAdmin" class="logo-update-button" src="https://cdn-icons-png.flaticon.com/512/5973/5973787.png" alt="update button">
        </a>
        <div class="card" [routerLink]="['/team-detail', team.id]">
            <img [src]="team.logoUrl" onError="this.src ='assets/404.jpg'" alt="team">
            <div class="card-text">
                <p> {{team.name}}</p>
                <p>{{team.budget}} Millions</p>
            </div>
        </div>
    </div>
</div>
