*{
    margin: 0;
}
section{
    font-family: 'Montserrat', sans-serif;

    .page-container{
        padding-top: 10em;
    }
}


h1{
    font-size: 50px;
    color: white;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: yellow;
    text-underline-offset: 0.5em;
    margin-bottom: 1em;
}

.container-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    height: 662px;
    
}

.contact{
    display: flex;
    width: fit-content;
    height: fit-content;
    border: 1px solid rgb(50, 50, 50);
    margin-top: 1.5em;
    padding: 0.5em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset{
    display: flex;
    border: none;
    margin-bottom: 0;
    padding: 0.75em;
    flex-direction: column;
    align-items: center;
}

label{
    margin-bottom: 0.5em;
    font-size: 20px;
    width: 200px;

}
input{
    width: 100%;
    min-width: 300px;
    height: 100%;
}


span{
    color: red;
}

p{
    font-size: 14px;
    margin-bottom: 181px;
}

button{
    background-color: yellow;
    color: #000;
    border: none;
    font-size: 25px;
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 1em;
}