img{
    width: 80%;
    height: 600px;
    margin-bottom: 3em;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #355789;
    width: 100%;
}

h1{
    margin-bottom: 3em;
    padding-top: 1em;
}

p{
    margin-bottom: 3em;
    padding-left: 3em;
    padding-right: 3em;
}
