    <h1>Détail de la voiture</h1>
    <p-carousel [value]="car">
        <ng-template let-carToDisplay pTemplate="item">
            <div class="presentation-car">
                <img [src]="carToDisplay.pictureList" alt="">
        
                <div class="model-name">
                    <h2>{{carToDisplay.modelName}}</h2>
                </div>
            </div>
        </ng-template>
    </p-carousel>
    

<div class="text-detail" *ngFor="let carDesc of car">

    <h3>Description de la voiture</h3>
    <p>Acceleration : {{carDesc.acceleration}} secondes</p>
    <p>{{car.description}}</p>
</div>

<!--  -->