footer {
    position: absolute;
    height:2em;
    width: 100%;
//    bottom: 0px;   
}

p.copyright {
    position: absolute;
    width: 100%;
    color: #fff;
    line-height: 40px;
    font-size: 0.7em;
    text-align: center;
    margin-top: 100px;
}