<h1>Detail de l'écurie</h1>

<section class="container-team">

    <h2>{{team.name}}</h2>

    <div class="content-team">

        <img [src]="team.logo" alt="logo team"> 

        <div class="text-team">
            <h3>Biographie de l'écurie :</h3>
            <p>{{team.story}}</p>

            <h3>Budget :</h3>
            <p>{{team.budget}} Millions €</p>
        </div>

    </div>
</section>

<section class="container-list-pilot">
   <h2>Liste de pilotes</h2>

   <div class="container-carrousselle">
    <img src= "https://media-manager.starsinsider.com/gallery/1080/na_5fb25e98677ab.jpg" alt="image pilot">
   </div>
   

</section>

<section class="container-list-car">
    <h2>Lite de voitures</h2>

    <div class="container-carrousselle">
        <img src="https://www.vroomm.fr/Images/produits/voiture-de-sport-enfant-electrique-mercedes-luxe-gt4-rouge-10194.jpg" alt="image car">
    </div>
   

</section>
