section{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
    font-size: 18px;
}

.content-team{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.content-team img{
    width: 600px;
    border-radius: 30px;
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    object-fit: contain;
}

.text-team{
    padding: 100px;
}


h1{
    font-size: 50px;
    margin-bottom: 3em;
    color: white;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: yellow;
    text-underline-offset: 0.5em;
    font-family: 'Montserrat', sans-serif;
}

h2{

    font-size: 30px;
    margin-bottom: 3em;
    color: white;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: yellow;
    text-underline-offset: 0.5em;
    font-family: 'Montserrat', sans-serif;
}

h3{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 2em;
    color: white;
    font-size: 24px ;
    text-decoration: underline;
    text-decoration-color: yellow;
    text-underline-offset: 0.5em;
}

p{
    font-family: 'Montserrat', sans-serif; 
    margin-bottom: 2em;
    word-break: break-all;
}

.content-team {
    border: 5px solid yellow;
    margin-bottom: 3em;
    margin-left: 2em;
    margin-right: 2em;
}
label{
    color: white;
    font-size: 2em; 
    margin-bottom: 30%; 
    text-decoration: underline;
}

.caRousel{
    border: 5px solid yellow;
    // margin-bottom: 3em;
    width: 90%;
    height: fit-content;
    margin-left: 2em;
    margin-right: 2em; 
    max-width: 800px; 
    margin-bottom:3em; 
 
}
img{
    width: auto;
    height: 30vh;
    // margin-left: 20%;
    margin-top: 1em;
    max-width: 80%;
    max-height: 80%;

}

@media screen and (max-width:1024px){
    img{
        width: 600px;
    }

    .content-team{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text-team {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:450px){
    img{
        width: 300px;
    }

    .content-team{
        width: 80%;
    };

    .content-team img{
        width: 80%;
        margin-left: 0;
    };

    h1{
        font-size: 30px;
        text-underline-offset: 0.3em;
    }

    h2{
        font-size: 30px;
        text-underline-offset: 0.3em;
    }

    h3{
        font-size: 30px;
        text-underline-offset: 0.3em;
    }

    p{
        font-size:16px;
    }
    p-carousel-container, p-carousel{
        overflow: hidden;
    }
}
.label{
    height: 100%;
    vertical-align: middle;
    display: inline;
}
.idImg{
     text-align: center;
}

