<h1>Detail de l'écurie</h1>

<section class="container-team">

    <h2>{{team.name}}</h2>

    <div class="content-team">

        <img [src]="team.logo" alt="logo team"> 

        <div class="text-team">
            <h3>Biographie de l'écurie :</h3>
            <p>{{team.story}}</p>

            <h3>Budget :</h3>
            <p>{{team.budget}} Millions €</p>
        </div>

    </div>
</section>

<section class="container-list-pilot">
   <h2>Liste de pilotes</h2>
   <div class="container-carrousselle">
<p-carousel [value]="pilotListFilteredByTeam">
    <ng-template let-pilotPhotoList pTemplate="item">
        <img [src]="pilotPhotoList.photoList" alt="image pilot">
   
    </ng-template>
</p-carousel>
</div> 
    
   

</section>

<section class="container-list-car">
    <h2>Lite de voitures</h2>

    <div class="container-carrousselle">
        <p-carousel [value]="carListFilteredByTeam">
            <ng-template let-carPictureList pTemplate="item">
                <img [src]="carPictureList.pictureList" alt="">
            </ng-template>
        </p-carousel>
    </div>
   

</section>
