section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #355789 ;
    min-height: 500px;
    font-size: 18px;
    margin-bottom: 50px;
}

.container-team h2{
    display: flex;
    justify-content: center;
    color: white;
    width: 80px;

    margin: 20px;
}

.content-team{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.content-team img{
    width: 600px;
    border-radius: 30px;
    margin: 10px 50px 50px 50px;
}

.text-team{
    padding: 100px;
}


h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 2em;
    color: white;
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 2em 0 0.5em 0;
    color: white;
}