section{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
    font-size: 18px;
}

.content-team{
    display: flex;
    flex-direction: row;
}

.content-team img{
    width: 600px;
    border-radius: 30px;
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.text-team{
    padding: 100px;
}


h1{
    font-size: 50px;
    margin-bottom: 3em;
    color: white;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: yellow;
    text-underline-offset: 0.5em;
    font-family: 'Montserrat', sans-serif;
}

h2{

    font-size: 30px;
    margin-bottom: 3em;
    color: white;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: yellow;
    text-underline-offset: 0.5em;
    font-family: 'Montserrat', sans-serif;
}

h3{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 2em;
    color: white;
    font-size: 24px ;
    text-decoration: underline;
    text-decoration-color: yellow;
    text-underline-offset: 0.5em;
}

p{
    font-family: 'Montserrat', sans-serif; 
    margin-bottom: 2em;
}

.content-team {
    border: 5px solid yellow;
    margin-bottom: 3em;
    margin-left: 2em;
    margin-right: 2em;
}

.container-carrousselle{
    border: 5px solid yellow;
    margin-bottom: 3em;
    width: 90%;
    height: 600px;
    margin-left: 2em;
    margin-right: 2em;
}

@media screen and (max-width:1024px){
    img{
        width: 600px;
    }

    .content-team{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text-team {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:450px){
    img{
        width: 300px;
    }

    .content-team{
        width: 80%;
    };

    .content-team img{
        width: 80%;
        margin-left: 0;
    };

    h1{
        font-size: 30px;
        text-underline-offset: 0.3em;
    }

    h2{
        font-size: 30px;
        text-underline-offset: 0.3em;
    }

    h3{
        font-size: 30px;
        text-underline-offset: 0.3em;
    }

    p{
        font-size:16px;
    }
}