        <nav>
            <ul>
                <li>
                    <a [routerLink]="['/home']" routerLinkActive="color-link-active" >Home</a>
                </li>
                <li>
                    <a [routerLink]="['/category', 'teams' ]" routerLinkActive="color-link-active">Teams</a>
                </li>
                <li>
                    <a [routerLink]="['/category', 'pilots']" routerLinkActive="color-link-active">Pilots</a>
                </li>
                <li>
                    <a [routerLink]="['/category', 'cars']" routerLinkActive="color-link-active">Cars</a>
                </li>
                <li>
                    <a >Gestion</a>
                </li>
            </ul>
        </nav>
