nav{
    height: 70px;
    align-items: center;
    display: flex;
    width: 100%;
    position: fixed;
    background-color: black;
    z-index: 1000;
}
.li-simple{
    padding-top: 1em;
}

ul{
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: space-around;
}

a{

    font-size: 18px;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

li{
    transition: 0.3s ease-in-out;
}

li:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

a:hover{
    color: yellow;
}

.color-link-active{
    color: yellow;
}

// :host ::ng-deep {    
//     .p-menubar{
//     background-color: black;
//     border: none;
//     padding: 0;
//     }
//     .p-menubar .p-menubar-root-list  .p-menuitem  .p-menuitem-link .p-menuitem-text {
//         color: white;
//     }
//     .p-menubar .p-menuitem-link {
//         background-color: black;
//     }
//     .p-menubar .p-menuitem-link :hover{
//         background-color: black;
//         color: yellow;
//     }
// }

:host ::ng-deep { 
    .p-menubar{
        background-color: black;
        border: none;
    }
    .p-menubar .p-menubar-root-list  .p-menuitem  .p-menuitem-link .p-menuitem-text {
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        }
    a.p-ripple.p-element.p-menuitem-link :hover{
        color: yellow;
    }
}