
    <nav>
        <ul>
            <li>
                <a [routerLink]="['/home']" >Home</a>
            </li>
            <li>
                <a [routerLink]="['/container-list', 'teams' ]">Teams</a>
            </li>
            <li>
                <a [routerLink]="['/container-list', 'pilots']">Pilots</a>
            </li>
            <li>
                <a [routerLink]="['/container-list', 'cars']">Cars</a>
            </li>
            <li>
                <a >Gestion</a>
            </li>
        </ul>
    </nav>




