nav{
    display: flex;
    position: fixed;
    width: 95%;
    max-width: 250px;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 0 2em;
    width: 100%;
    align-items: center;
    
}

.container-login-role{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.login-role{
    display: flex;
    background-color: yellow;
    justify-content: space-around;
    padding: 0.8em;

    position:relative;
    width: 550px;
    overflow:hidden;
    background: yellow;
    clip-path: polygon(
      0 0%,
      0% 0,
      100% 0,
      100% 0%,
      100% 0%,
      95% 100%,
      5% 100%,
      0% 0%,
      0% 10%
    )
}

.login-role p {
    color: black;
    
    font-size: 20px;
    text-align:end;
    font-family: 'Montserrat', sans-serif;
}

.login-role-swapped {
    background: transparent;
    p {
        color: transparent;
    }
}

.li-simple{
    padding-top: 1em;
}

ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    width: 100%;
    height: 50%;
    justify-content: space-around;
}

a{
    font-size: 18px;
    text-decoration: none;
    color: white;
    margin: 0 1em;
}

.classic-login a{
    min-width: 158px;
}


li{
    transition: 0.3s ease-in-out;
}

li:hover{
    transition: 0.3s ease-in-out;
}

a:hover{
    color: yellow;
}

.color-link-active{
    color: yellow;
}

.p-submenu-list{
    width: 180%;
}

:host ::ng-deep {

    .p-menubar{
        border: none;
        background-color: transparent;
        width: 500%;
    }
    .p-menubar .p-menubar-root-list  .p-menuitem  .p-menuitem-link .p-menuitem-text {
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        }
    a.p-ripple.p-element.p-menuitem-link :hover{
        color: yellow;
    }

    .p-button.p-button-icon-only{
        padding: 2em;
    }

    .pi-bars{
        font-size: 2em;
    }

    #login{
        margin-top: 2em;
        margin-left: 4px;
        padding-top: 1em;
        border-top: 1px solid rgb(50, 50, 50);
        width: 130px;
        text-align: center;
    }

    .menu-add{
        margin-bottom: 1em;
        border-bottom: 1px solid rgb(50, 50, 50);
        width: 130px;
    }

    .p-menubar .p-submenu-list{
        background-color: black;
        width: 180%;
        left: -36%;
    }

    
    @media screen and (max-width: 426px){

        .p-button.p-button-icon-only{
            padding: 1em;
            background-color: transparent;
        }
        .pi-bars{
            font-size: 2em;
        }
        .p-menubar .p-menubar-root-list  .p-menuitem  .p-menuitem-link .p-menuitem-text {
            font-size: 18px;
        }
    }
}

.logo{
    width: 150px;
    height: 100px;
}

.logo:hover{
    cursor: pointer;
}

@media screen and (max-width: 1023px){

    .classic-bar-container{
        display: none;
    }

    .logo{
        width: 80px;
        height: 50px;
        margin: 1em 0;
    }
    
    a{
        font-size: 18px;
    }

    :host ::ng-deep {
    
        .p-button.p-button-icon-only{
            padding: 1em 2em;
            background-color: transparent;
            border: none;
        }

        .pi-bars{
            color: white;
        }

        .p-sidebar-right{
            display: flex;
            width: 22em;
            background-color: black;
        }
    }

}


@media screen and (min-width: 1023px){
    p-sidebar, p-button {
        display: none;
    }

    p-menubar{
        display: flex;
        width: auto;
    }

    .classic-bar-container{
        width: 100%;


        .classic-bar{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: 3em;
        
            .classic-button{
                display: flex;
            }
        }
    }

    .home-button{
        display: flex;
        margin-left: 40px;
    }

    .first-list{
        display: flex;
        flex-direction: row;
        justify-content: unset;
        padding-left: 0;
        width: fit-content;
    }

    .second-list{
        display: flex;
        flex-direction: row;
        justify-content:  flex-end;
        width: 300%;
        max-width: 400px;
    }

    .logo{
        width: 100px;
        height: 70px;
    }
    
    #classic-login {
        margin-left: 1em;
    }
}


@media screen and (max-width: 1320px){

    a{
        font-size: 18px;
        min-width: 50px;
        max-width: 200px;
        display: flex;
        align-items: center;
        i {
            margin-left: .5em;
        }
    }

    .second-list{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}