nav{
    display: flex;
    position: fixed;
}

header{
    display: flex;
    justify-content: end;
    margin-right: 2em;
    padding-top: 2em;
}

.li-simple{
    padding-top: 1em;
}

ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    width: 100%;
    justify-content: space-around;
}

a{

    font-size: 24px;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 2em;
}

li{
    transition: 0.3s ease-in-out;
}

li:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

a:hover{
    color: yellow;
}

.color-link-active{
    color: yellow;
}

// :host ::ng-deep {    
//     .p-menubar{
//     background-color: black;
//     border: none;
//     padding: 0;
//     }
//     .p-menubar .p-menubar-root-list  .p-menuitem  .p-menuitem-link .p-menuitem-text {
//         color: white;
//     }
//     .p-menubar .p-menuitem-link {
//         background-color: black;
//     }
//     .p-menubar .p-menuitem-link :hover{
//         background-color: black;
//         color: yellow;
//     }
// }

:host ::ng-deep { 
    .p-menubar{
        border: none;
    }
    .p-menubar .p-menubar-root-list  .p-menuitem  .p-menuitem-link .p-menuitem-text {
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        }
    a.p-ripple.p-element.p-menuitem-link :hover{
        color: yellow;
    }

    .p-button.p-button-icon-only{
        padding: 2em;
    }

    .pi-bars{
        font-size: 2em;
    }

    @media screen and (max-width: 426px){

        .p-button.p-button-icon-only{
            padding: 1em;
        }
    
        .pi-bars{
            font-size: 1em;
        }
    }

}

.logo{
    width: 100px;
    height: 100px;
}



