<section>

   <h1>Connexion</h1>

   <div class="container-connection">
      <div class="connection">
         <form #myForm="ngForm" (ngSubmit)="myForm.valid && userLogin()">
            
            <fieldset>
               <label for="username"> <span>*</span> Nom d'utilisateur : </label>
               <input type="text" name="username" id="username" [(ngModel)]="username">
            </fieldset>
      
            <fieldset>
               <label for="password"><span>*</span> Mot de passe : </label>
               <input type="text" name="password" id="password" [(ngModel)]="password">
            </fieldset>

            

            <button type="submit"> Se connecter</button>
            <!-- <button (click)="getUser()">Get user</button> -->

         </form>
         <p><span>*</span> Champs obligatoire</p>
      </div>
   </div>

</section>

<p-toast position="bottom-center">
   <ng-template let-message pTemplate="message">
      <div class="flex flex-column align-items-center" style="flex: 1">
         <p-progressSpinner [style]="{width: '50px', height: '50px'}"></p-progressSpinner>  
          <div class="text-center">
              <h4>{{message.summary}}</h4>
              <p>{{message.detail}}</p>
          </div>
      </div>    
  </ng-template>
</p-toast>
