<!-- HERO -->
<div class="hero-container">
    <!--<img id="hero-img" src="assets/hero.png" alt="image d'entrée">-->
    <figure><video id="intro-video" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
        <source type="video/mp4" src="/assets/lemansintro.mp4">
    </video></figure>
    <div class="absolute-container">
        <h1>Le Mans 24</h1>
        <p>Attachez votre ceinture pour un voyage au coeur du plus grand circuit de sport automobile.</p>
        <button (click)="scrollToAnchor('anchor')">En piste <i class="pi pi-arrow-circle-right"></i></button>
    </div>
</div>


<!-- SECTION 1 -->
<section class="landing-section">
    <h2 id="anchor">Présentation du circuit</h2>
    <div>
        <img src="/assets/car-landing-1.png" alt="Voiture 1" class="landing-img">
        
        <p>Le circuit des 24 Heures, en forme longue circuit des 24 Heures du Mans, parfois appelé « circuit de la Sarthe » de manière officieuse, situé au sud de la ville du Mans et sur la commune de Mulsanne, dans la Sarthe en France, est un circuit de course automobile non permanent utilisé par la plus célèbre des courses d'endurance, les 24 Heures du Mans, organisée par l'Automobile Club de l'Ouest (ACO) depuis 1923.</p>
    </div>
    <div class="flex-swapped">
        <img src="assets/car-landing-2.png" alt="Voiture 2" class="landing-img">
        <p>Il est aussi utilisé par les voitures de course anciennes lors du Mans Classic qui a lieu une fois tous les deux ans ainsi que par la Michelin Le Mans Cup. L'origine du circuit est lié au Grand Prix automobile de France 19062 et aux courses effectuées dès 1884 sur la célèbre ligne droite des Hunaudières par l'Union Vélocipédique de la Sarthe lors desquelles s'affrontaient les frères Bollée. Il partage avec le circuit Bugatti les stands et une brève portion de piste depuis le virage du raccordement jusqu'au virage de la chapelle.</p>
    </div> 
</section>


<!-- SECTION 2 -->
<section class="landing-section">
   <h2>Organisation de la course</h2>
   <div>
       <img src="https://www.bmc-moto.com/uploaded/circuits/circuits_trace17.svg" alt="circuit du mans">
       <p>Lorsque Le Mans se met à l'heure de la course, c'est plus d'une semaine d'événements qui s’enchaînent. Cela commence avec l'élection de Miss 24 Heures du Mans, puis se poursuit par la journée test et les deux journées de vérifications administratives et techniques, dont le traditionnel pesage des véhicules sur la place de la République11. </p>
    </div>
    <p>Une séance de signature d'autographes par les pilotes est organisée devant les stands, alors que les concurrents finissent la préparation des voitures qui sont exposées au public.</p>       
</section>

<!-- SECTION 3  -->
<section class="landing-section">
    <h2>Une invitation à l'exploration</h2>
    <div class="row">
        <div>
            <h3>Écuries</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, accusamus dicta, nesciunt reprehenderit.</p>
            <a [routerLink]=" isConnected ? ['/category', 'teams' ] : null" (click)="ToastAndRedirectIsNotConnected()">Accéder <i class="pi pi-arrow-circle-right"></i></a>
        </div>
        <div>
            <h3>Pilotes</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, accusamus dicta, nesciunt reprehenderit.</p>
            <a [routerLink]=" isConnected ? ['/category', 'pilots' ] : null" (click)="ToastAndRedirectIsNotConnected()">Accéder <i class="pi pi-arrow-circle-right"></i></a>
        </div>
        <div>
            <h3>Voitures</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, accusamus dicta, nesciunt reprehenderit.</p>
            <a [routerLink]="isConnected ? ['/category', 'cars' ] : null" (click)="ToastAndRedirectIsNotConnected()">Accéder <i class="pi pi-arrow-circle-right"></i></a>
        </div>

    </div>
</section>


