
.hero-container {
    video {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        //filter: grayscale(0.1);
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,0) 50%);
    }
    .absolute-container {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        h1 {
            padding: 10px 20px;
            font-size: 64px;
        }
        p {
            padding: 10px 20px;
            font-size: 20px;
            margin: 1em 0 0.5em;
        }
        button {
            background: white;
            color: black;
            border: 1px solid white;
            border-radius: 6px;
            padding: 0.5em 1.5em;
            font-size: 1.1em;
            font-weight: 600;
            display: flex;
            align-items: center;
            transition: all 0.3s ease-in-out;
            width: fit-content;
            i {
                transition: transform 0.3s ease-in-out;
                margin-left: 9px;
            }
            &:hover {
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                background-color: transparent;
                color: white;
                transition: all 0.3s ease-in-out;
                i {
                    transform: translateX(2px);
                }
            }
        }
    }
}

#container {
    background-image: linear-gradient(180deg,rgba(5,20,1,0.6) 0%,rgba(5,20,1,0.6) 100%),url("/assets/hero.jpeg");
    width: 100%;
        height: 75vh;
        object-fit: cover;
}

h2{
    font-size: 40px;
    margin-top: 1em;
    margin-bottom: 2em;
    color: white;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: yellow;
    text-underline-offset: 0.5em;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.8em;
}

.landing-section {
    margin: 100px auto;
    padding: 1em 0;
    width: 80%;
    max-width: 1250px;
    display: flex;
    flex-direction: column;
    p {
        padding: 1em;
        font-weight: 100;
    }
    div {
        display: flex;
        justify-content: center;
        img {
            width: 50%;
            object-fit: cover;
            border-radius: 6px;
        }
    }
    .flex-swapped {
        margin-top: 200px;
    }
}
.row {
    flex-direction: row;
    display: flex;
    div {
        flex-direction: column;
        align-items: flex-start;
        padding: 1em;
        margin: 1em;
        border: 1px solid var(--border);
        border-radius: 6px;
        width: 25%;
        max-width: 250px;
        p {
            padding: 2em 0 1em;
        }
        a {
            text-decoration: none;
            color: yellow;
            display: flex;
            align-items: center;
            &:hover {
                transition: all 0.3s ease-in-out;
                i {
                    transform: translateX(2px);
                }
            }
            i {
                transition: transform 0.3s ease-in-out;
                margin-left: 9px;
            }
        }
    }
}


.course {
    border: 5px solid yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2em;
    margin-right: 2em;
}

.course p {
    font-size: 20px;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
    line-height: 1.5em;
}



.course img {
    width: 100%;
    height: 600px;
    padding: 1em;
    margin: 2em 2em 3em 2em;

}

.landing-img{
    margin: 2em;
}

.course h1 {
    margin-top: 1em;
}

.text-circuit{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.swapped{
    order: -1;
}

.head-text{
    font-size: 30px;
    width: 100%;
    padding: 1em;
    text-align: center;
}

.info{
    display: flex;
    width: 100%;
    max-width: 400px;
    color: yellow;
    border-radius: 5px;
    text-align: center;
    align-items: center;
}

.stats{
    max-width: 700px;
}

.text-side-circuit{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width:1024px){
    .h1{
        font-size: 50px;
    }
   
    .absolute-container {
        width: 80%;
    }

    .swapped{
        order: 0;
    }

    .landing-section {
        p {
            padding: 1em 0 1em 0;
        } 
        div {
            flex-direction: column;
            img {
                width: 100%;
            }
        }
        .flex-swapped {
            margin-top: 50px;
        }

        .row div {
            width: 100%;
            max-width: none;
            margin: 1em 0;
        }
    }
    
}

@media screen and (max-width:768px){
   
    .text-landing{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .text-landing img {
       width: 80%;
       margin-right: 0;
    }

    .text-landing p {
        margin-bottom: 2em;
    }
}


@media screen and (max-width: 500px){
    .hero-container .absolute-container  {
        width: 90%;
        h1 {
            font-size: 42px;
        }
    }

    h2{
        font-size: 30px;
        text-underline-offset: 0.3em;
    }

    .text-landing p {
        font-size: 16px;
    }

    .text-landing img {
        width: 100%;
    }

    .text-landing{
        margin-bottom: 1.5em;
    }

    .course img {
        margin-top: 0;
        margin-bottom: 0;
        height: 300px;
    }

    .course p {
      font-size: 16px;
    }


}

@media screen and (max-width: 350px){
    h1{
        line-height: 1.8em;
    }

}
.p-toast .p-toast-message.p-toast-message-warn {
    background: #FFECB3;
    border: solid #d9a300;
    border-width: 0 0 0 6px;
    color: #6d5100;
    width: 150%;
    height: 150px;
}
