h1{
    font-size: 50px;
    margin-bottom: 3em;
    color: white;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: yellow;
    text-underline-offset: 0.5em;
    font-family: 'Montserrat', sans-serif;
}

img{
    width: 600px;
    height: 600px;
    margin-right: 3em;
    margin-left: 3em;
}
.container{
    display: flex;
    margin-bottom: 3em;
    padding-right: 3em;
}

.car-container{
    display: flex;
    margin-bottom: 3em;
    justify-content: end;
    padding-left: 3em;
}

.text{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: inline-block;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid var(--border);
    border-radius: 6px;
    background-color: black;
    text-align: center;
    vertical-align: auto;
}

p{
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em;
    word-break: break-all;
}

h3{
    text-decoration: underline;
    text-decoration-color: yellow;
    text-underline-offset: 0.5em;
    margin-bottom: 3em;

}

@media screen and (max-width:1024px){

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 0;
    }

    .container img {
        margin-bottom: 2em;
    }

    .car-container{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding-left: 0;
    }

    .car-container img {
        margin-bottom: 2em;
    }

    .text{
        margin-bottom: 2em;
    }
}

@media screen and (max-width:426px){
    img{
        width: 80%;
        height: 300px;
    }
}