<h1>{{pilot.firstName}} {{pilot.lastName}}</h1>

<div class="container">
        <img [src]="pilot.picture" alt="">
    <div class="text">
        <h3>DESCRIPTION DU PILOTE : </h3>
        <p>{{pilot.bio}}</p>
    </div>
</div>

<div class="car-container">
    <div class="text">
        <h3>DESCRIPTION DE LA VOITURE : </h3>
        <p>{{car.modelName}}</p>
        <p>{{car.power}}</p>
        <p>{{car.bio}}</p>
    </div>
        <img [src]="car.carPhotoList[0].urlPhoto" alt="">
</div>

<div class="container">
        <img [src]="team.logo" alt="">
    <div class="text">
        <h3>DESCRIPTION DE LA TEAM : </h3>
        <p>{{team.name}}</p>
        <p>{{team.budget}}</p>
        <p>{{team.story}}</p>
    </div>
    </div>