<!-- <h1 class="page-container">{{pilot.firstName}} {{pilot.lastName}}</h1>

<div class="container">

        <img [src]="pilot.photoList[0].urlPhoto" alt="">

    <div class="text">
        <h3>DESCRIPTION DU PILOTE : </h3>
        <p>{{pilot.bio}}</p>
    </div>
</div>

<div class="car-container" *ngIf="car">
    <div class="text" >
        <h3>DESCRIPTION DE LA VOITURE : </h3>
        <p>{{car.modelName}}</p>
        <p>{{car.power}}</p>
        <p>{{car.bio}}</p>
    </div>

        <img [src]="car.carPhotoList[0].urlPhoto" alt="">

</div>

<div class="container">
        <img [src]="team.logoUrl" alt="">
    <div class="text">
        <h3>DESCRIPTION DE LA TEAM : </h3>
        <p>{{team.name}}</p>
        <p>{{team.budget}}</p>
        <p>{{team.bio}}</p>
    </div>
    </div> -->

    <div class="hero-container">
        <img id="hero-img" [src]="pilot.photoList[0].urlPhoto" alt="image d'entrée">
        <div class="absolute-container">
            <h1>{{pilot.firstName}} {{pilot.lastName}}</h1>
        </div>
    </div>

    <div class="bio-pilot">
        <h2>Biographie</h2>
        <p>{{pilot.bio}}</p>
    </div>

<div class="container-pilot-detail">

    <div class="car-pilot" *ngIf="car">
        <div>
            <img [src]="car.carPhotoList[0].urlPhoto" alt="image de la voiture">
        </div>
        <p>Voiture : {{car.modelName}}</p>
        <p>{{car.bio}}</p>
    </div>

    
    <div class="team-pilot">
        <div>
            <img [src]="team.logoUrl" alt="logo de l'écurie">
        </div>
        <p>Ecurie : {{team.name}}</p>
        <p>{{team.bio}}</p>
        
    </div>

</div>
