h1{
    font-size: 50px;
    margin-bottom: 2em;
    color: white;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: yellow;
    text-underline-offset: 0.5em;
    font-family: 'Montserrat', sans-serif;
}

#my_fieldset{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border: 5px solid yellow;
    justify-content: space-around;

    padding: 3em;
    margin-left: 8em;
    margin-right: 8em;
}

fieldset{
    width: 50%;
    margin-bottom: 1em;
    border: 0px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 300px;
    height: 100%;

    margin: 20px;
}

.bio{
    width: 100%;

    textarea{
        width: 100%;
        &:hover {
            border: 1px solid yellow
        }
    }
}

#button-mainImg{
    display: none;
}


input[type=file][_ngcontent-nul-c55] {
    width: 100%;
    flex-wrap: wrap;
}

label{
    display: block;
    font-weight: bold;   
    margin-bottom: 2em;
    margin-top: 1em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-decoration: underline;
    text-decoration-color: yellow;
    text-underline-offset: 0.5em;
}

h2{
    display: block;
    font-weight: bold;   
    margin-bottom: 2em;
    margin-top: 1em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-underline-offset: 0.5em;
}

.container-images{
    display: flex;
    width: 100%;
    height: 100%;

    .images{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;

        .main-image{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            min-width: 200px;
            max-width: 400px;

            img{
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                color: transparent;
                // background-image: url('/assets/car-img-main.png');
                background-size: contain;
                width: 200px;
                height: 200px;
                object-fit: contain;
            }
        }

        .option-images{
            display: flex;
            margin-top: 20px;
            flex-wrap: wrap;
            justify-content: center;

            .title-option-images{
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                justify-content: center;
                width: 100%;

                #button-img{
                    width: 100%;
                    max-width: 200px;
                    height: 50px;
                    margin-left: 2em;
                    margin-right: 2em;
                }
            }
            
        
            .container-dimg{
                display: flex;
                justify-content: center;
                width: 100%;
                flex-wrap: wrap;
                margin: 2em;

                .dimg{
                    position: relative;
                    display: inline-block;
                    flex-wrap: wrap;
                    align-items: center;
                    margin: 1em;

                    .car-img{
                        object-fit: contain;
                        width: 100%;
                        min-width: 120px;
                        max-width: 300px;
                        min-height: 120px;
                        max-height: 300px;
                    }

                    .delete{
                        position: absolute;
                        top: 5%;
                        right: 5%;
                        z-index: 10;
                        background-color: red;
                        color: white;
                        padding: 4px 3px;

                        font-weight: bold;
                        cursor: pointer;

                        text-align: center;
                        font-size: 22px;
                        line-height: 10px;
                        border-radius: 50%;

                        &:hover {
                            opacity: 1;
                        }

                    }

                    .logo-delete-button{
                        display: flex;
                        font-size: 18px;
                        font-family: 'Montserrat', sans-serif;
                        font-weight: bold;
                        writing-mode: vertical-rl;
                        align-items: center;
                        justify-content: center;
                        background-color: rgb(200, 0, 0);
                        width: 30px;
                        height: 200px;
                        margin: 10px;

                        z-index: 1;
                    }
                }
            }
        }
    }
}



input{
   width: 50%;
   min-width: 100px;
   height: 30px;
   font-size: 18px;
   &:hover {
    border: 1px solid yellow
}
}

select{
    width: 50%;
    min-width: 100px;
    height: 30px;
    font-size: 18px;
    &:hover {
        border: 1px solid yellow
    }
}

input[type=number]{
    width: 5em;
}

button{
    background-color: rgb(0, 0, 0);
    color: rgb(253, 253, 253);
    width: 20%;
    min-width: 100px;
    max-width: 200px;
    height: 70px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    transition: 0.3s ease-in-out;
    border: 1px solid yellow;
    &:hover {
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        background-color: yellow;
        color: rgb(0, 0, 0);
        transition: all 0.3s ease-in-out;
        i {
            transform: translateX(2px);
        }
    }
}


.btn{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 3em;
    margin-bottom: 2em;
}
input[type=file]{
    display: none;
}

p{
    text-align: center;
}


@media screen and (max-width:330px){

    h1{
        padding: 1em;
    }

    button{
        width: 40%;
    }

    fieldset{
        margin: 0;
    }

    .car-img{
        width: 100px;
    }

    .dimg{
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width:620px){
    h1{
        font-size: 30px;
        text-underline-offset: 0.3em;

    }

    #my_fieldset{
        margin-left: 2em;
        margin-right: 2em;
    }

    label{
        font-size: 18px;
        text-underline-offset: 0.3em;
    }

    input{
        width: 100%;
    }

    img{
        margin: 0;
    }

    #ListImgCar{
        display: flex;
        flex-direction: column;
    }

    button{
        width: 30%;
    }

    .title-option-images{
        display: flex;
        flex-wrap: wrap;
    }

}

@media screen and (max-width:780px){
    label {
        font-size: 20px;
    }

    h1{
        font-size: 30px;
    }

    #modelName{
        width: 100%;
    }

    #button-img{
        width: 100px;
    }
}

@media screen and (min-width:1122px) {
    
    fieldset{
        width: 300px;
        height: 250px;

        border: 1px solid rgb(50, 50, 50);
    }
}