<h1>{{title}}</h1>

<form #myForm="ngForm" (ngSubmit)="myForm.valid && addCar()">
    <div id="my_fieldset">
    <fieldset>
        <label for="modelName">Model *</label>
        <input type="text" name="modelName" id="modelName" [(ngModel)]="car.modelName" #modelName="ngModel" required>
        <div *ngIf="modelName.errors && myForm.submitted">
            <small *ngIf="modelName.errors?.['required']">Le nom du model est requis</small>
        </div>    
    </fieldset>

    <fieldset>

        <label for="pictureselectImage">Image *</label>
        <input type="file" #selectImage (change)="selectfile($event)" accept=".jpg, .png">
        <button type="button" (click)="selectImage.click()" id="button-img">Ajouter image</button>
        <div id="ListImgCar">
            <div *ngFor="let img of car.carPhotoList" class="dimg">
                <img [src]=img.urlPhoto width="100px"  height="100px" alt="Image d'une voiture"> 
            </div> 
        </div>
        <div *ngIf="myForm.submitted">
            <small *ngIf="!car.carPhotoList[0]">Au moins une image est requise</small>
        </div>  
    </fieldset>

    <fieldset>
        <label for="engine">Moteur</label>
        <input type="text" name="engine" id="engine" [(ngModel)]="car.engine" #engine="ngModel">
    </fieldset>

    <fieldset>
        <label for="power">Puissance</label>
        <input type="number" name="power" id="power" [(ngModel)]="car.power" #power="ngModel">
    </fieldset>

    <fieldset>
        <label for="maxSpeed">Vitesse maximum</label>
        <input type="number" name="maxSpeed" id="maxSpeed" [(ngModel)]="car.maxSpeed" #maxSpeed="ngModel">
    </fieldset>

    <fieldset>
        <label for="acceleration">Acceleration</label>
        <input type="number" name="acceleration" id="acceleration" [(ngModel)]="car.acceleration" #acceleration="ngModel">
    </fieldset>

    <fieldset>
        <label for="description">Description *</label>
        <textarea name="description" id="description" cols="130" rows="10" [(ngModel)]="car.bio" #description="ngModel" required></textarea>
        <div *ngIf="description.errors && myForm.submitted">
            <small *ngIf="description.errors?.['required']">La description est requise</small>
        </div>    
    </fieldset>

    <fieldset>
        <label for="team">Ecurie *</label>
        <!-- <input type="number" name="team" id="team" [(ngModel)]="car.team" #team="ngModel" max=9 required> -->
        <select name="team" id="team" [(ngModel)]="teamId" #team="ngModel">
        <option *ngFor="let team of teamList" [value]="team.id" [selected]="team.id == teamId">
            {{team.name}}
        </option>
        </select>
        <div *ngIf="myForm.submitted">
            <small *ngIf="teamId == 0">Le nom de l'écurie est requis</small>
        </div>    
    </fieldset>


    <div class = "btn">
        <button type="submit">{{textBtnSubmit}}</button>
    </div>

    </div>   
</form>
