<form class="page-container" #myForm="ngForm" (ngSubmit)="myForm.valid && addTeam()">

    <h1>Ajouter une écurie</h1>

    <div id="my_fieldset">

        <!-- NOM DE L'ÉCURIE -->
        <fieldset>
            <label for="name"><span>*</span> Nom</label>
            <input type="text" name="name" id="name" [(ngModel)]="team.name" #name="ngModel" required>

            <div *ngIf="name.errors && myForm.submitted">
                <small *ngIf="name.errors?.['required']">Le nom de l'écurie' est requis</small>
            </div>
        </fieldset>

        <!-- IMAGES -->
        <fieldset class="container-images">

            <label for="picture"><span>*</span> Image</label>

            <div class="images">
                <div class="main-image">
                    <input type="file" #selectImage (change)="selectfile($event)" id="image-choice" accept=".jpg, .png">
                    <img id="image" [src]="url" (click)="selectImage.click()" alt="image de l'écurie" required (error)="getPlaceholder($event)">
                
                    <div *ngIf="myForm.submitted">
                        <small *ngIf="!team.logoUrl">Une image est requise</small>
                    </div>
                </div>
            </div>

        </fieldset>


        <!-- BUDGET -->
        <fieldset class="budget">
            <label for="budget"><span>*</span> Budget</label>
            <input type="number" name="budget" id="budget" [(ngModel)]="team.budget" #budget="ngModel" required min="1">
            <div *ngIf="budget.errors && myForm.submitted">
                <small *ngIf="budget.errors?.['min']">Le Budget est requis</small>
            </div>    
        </fieldset>


        <!-- BIOGRAPHIE -->
        <fieldset class="bio">
            <label for="story"><span>*</span> Histoire</label>
            <textarea name="story" id="story" cols="130" rows="10" [(ngModel)]="team.bio" #story="ngModel" required></textarea>
            <div *ngIf="story.errors && myForm.submitted">
                <small *ngIf="story.errors?.['required']">L'histoire est requise'</small>
            </div>    
        </fieldset>

        <div class = "btn">
            <button type="submit">{{textBtnSubmit}}</button>
        </div>

        <p><span>*</span> Champs obligatoire</p>
    </div>   
</form>