h1{
    font-size: 50px;
    margin-bottom: 2em;
    color: white;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: yellow;
    text-underline-offset: 0.5em;
    font-family: 'Montserrat', sans-serif;
}

#my_fieldset{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border: 5px solid yellow;
    justify-content: space-around;

    padding: 3em;
    margin-left: 8em;
    margin-right: 8em;
}


fieldset{
    width: 50%;
    margin-bottom: 1em;
    border: 0px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 300px;

    margin: 40px;
}


.bio{
    width:100%;
}

label{
    display: block;
    font-weight: bold;   
    margin-bottom: 2em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-decoration: underline;
    text-decoration-color: yellow;
    text-underline-offset: 0.5em;
}

.container-images{
    display: flex;
    width: 100%;
    height: 100%;

    .images{
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;

        .main-image{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 100%;
            min-width: 400px;

            img{              
                color: transparent;
                // background-image: url('/assets/team-img-main.png');
                background-size: contain;
                width: 200px;
                height: 200px;
                object-fit: contain;
            }
        }
    }
}



img{
    object-fit: contain;
    width: 400px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

input{
   width: 100%;
   height: 30px;
   font-size: 18px;
   &:hover {
    border: 1px solid yellow
}
}


select{
    width: 50%;
    height: 30px;
    font-size: 18px;
    &:hover {
        border: 1px solid yellow
    }

}

input[type=number]{
    width: 5em;
}
button{
    background-color: rgb(0, 0, 0);
    color: rgb(253, 253, 253);
    width: 100%;
    max-width: 200px;
    height: 70px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    transition: 0.3s ease-in-out;
    border: 1px solid yellow;
    &:hover {
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        background-color: yellow;
        color: rgb(0, 0, 0);
        transition: all 0.3s ease-in-out;
        i {
            transform: translateX(2px);
        }
    }

}

#button-img{
    width: 100px;
}


.btn{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 3em;
    margin-bottom: 1em;
}

input[type=file]{
    display: none;
}   

textarea{
    width: 100%;
    &:hover {
        border: 1px solid yellow
    }
}

#image-choice{
    width: 100%;
}

.dimg{
    display: flex;
    flex-direction: column;
    align-items: center;
}




@media screen and (max-width:480px){
    h1{
        font-size: 30px;
        text-underline-offset: 0.3em;
    
    }
    
    #my_fieldset{
        margin-left: 2em;
        margin-right: 2em;
    }
    
    label{
        font-size: 18px;
        text-underline-offset: 0.3em;
    }
    
    input{
        width: 100%;
    }
    
    img{
        margin: 0;
    }
    
    #ListImgCar{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:780px){
    label {
        font-size: 20px;
    }

    h1{
        font-size: 30px;
    }
}

@media screen and (max-width:865px) {
    
    fieldset{
        width: 300px;
        height: 200px;

        margin: 0;
    }

    .image{
        min-height: 250px;
    }
}

@media screen and (min-width:1122px) {
    
    fieldset{
        width: 300px;
        height: 250px;

        border: 1px solid rgb(50, 50, 50);
    }
}