form {
display: flex;
justify-content: center;
margin-bottom: 6em;
}

input{
    border: 3px solid grey;
    width: 40%;
    height: 50px;
}

input::placeholder {
    font-weight: bold;
    font-size: 26px;
    margin-top: 2em;
}

input[type="search" i] {
    appearance: auto;
    padding-top: 2em;
    padding-bottom: 1.5em;
    padding-left: 1em;

}
